<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>

<%= link_to "Index", tasks_path, class: "btn btn-primary" %>
<%= link_to "Edit the task", edit_task_path, class: "btn btn-primary" %>


<%= link_to task_path(@task),
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
<i class="fa-regular fa-trash-can"></i>
<% end %>
